---
import QRCode from "@/components/QRCode.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="@martu.dev">
  <main>
    <h1>
      Bienvenidos a <span class="text-gradient">martu.dev Bot</span>
    </h1>
    <ul class="instructions">
      <li>
        <span>1.</span>Abrir WhatsApp
      </li>
      <li>
        <span>2.</span>Ir a <code>&#8942;</code> ->{" "}
        <code>Dispositivos vinculados</code> ->
        <code>Vincular un dispositivo</code>
      </li>
      <li>
        <span>3.</span>Escanear el QR
      </li>
    </ul>
    <div class="qr-container">
      <QRCode />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 5rem 1rem;
    width: 900px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions li > span {
    color: #a2a2a2;
    margin-right: 0.5rem;
  }

  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }

  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .qr-container {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
