<div style="position: relative;">
  <img src="/martu-face.jpg" draggable="false" />
  <canvas id="qr"></canvas>
</div>

<style>
  canvas {
    border-radius: 5%;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    border: 3px solid black;
  }
</style>

<script>
  import io from "socket.io-client";
  import QRCode from "qrcode";

  const socket = io(
    "https://wpp-connection-web-socket-fc4999b749b2.herokuapp.com/"
  );

  socket.on("qrCode", (data) => {
    // { client, qrData }
    const qrsCanvas = document.querySelectorAll("#qr");

    qrsCanvas.forEach((canvas) => {
      if (data.qrData)
        QRCode.toCanvas(canvas, data.qrData, function (error) {
          if (error) console.error(error);
          console.log("success!");
        });
    });
  });
</script>
